node_modules/
.next/
.idea/
out/
.firebase/
.firebaserc
temp-path-to-id.json
temp-alias-to-id.json
public/sitemap.xml
.env.local
.DS_Store
output/
public/article-assets/**/meta-image.jpeg

tsconfig.tsbuildinfo
